<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>California</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header th:insert="blocks/header::header">  </header>
<body>
<div class="container">

</div>

<main>

    <body>


    <div class="container mt-5 mb-5">
        <h1>Введіть пароль адміністратора</h1>
        <div class="alert alert-danger" role="alert" th:if="${error==1}">
            Пароль невірний
        </div>
        <form action="/admin_entry" method="post">
            <input th:type="text" name="password" placeholder="Введіть пароль" class="form-control"><br>
            <button type="submit">Підтвердити</button>
        </form>
    </div>

</main>

</body>
</html>