@import url('https://fonts.googleapis.com/css2?family=Raleway|Lato');

body {
	background-image: url('pic2.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	margin-top: 70px;
	color: #ffffff;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #FFFFFF;
	text-shadow: 2px 2px 	#A0A0A0;
	text-align: center;
}

p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

a {
	color: #FFFFFF;
}

a:hover, a:focus {
	color: #FFFFFF;
	text-decoration: none;
	outline: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar {
	font-weight: 800;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #ffffff;
}

.navbar-brand2 {
    color: #ffffff;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--bs-body-font-family);
}
 
header {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
}

header .nav-item a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #ffffff;
	height: 1px;
	transform: scale(0);
	transition: all 0.3s;
}

header .nav-item a:hover::after {
	transform: scale(1.0);
}

.background-control {
	font-size: 2em;
    position: absolute;
    z-index: 2;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
}

#slidecaption {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: #ffffff;
    font-family: "Raleway";
	font-weight: 300;
	text-shadow: 5px 5px 	#A0A0A0;
    font-size: 3em;
    text-transform: none;
    text-shadow: 0 1px 2px #A0A0A0;
    z-index: 2;
}

.rd_place {
    width: 100%;
    background-color: rgba(0,0,0,.2);
    padding: 50px 30px 30px;
}

.rd_text article {
    color: #fff;
    padding: 0;
}