<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contacts</title>
  <link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-brand2" href="#">CALIFORNIA</div>
          
          <div >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link"  href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rooms</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">
                  Contacts
                </a>
              </li>
            </ul>
          </div>
        </div>
</nav>
  </div>
</header>

<main>
  <div class="fm rd_place">
        <div class="fm rd_title">
          <h1>Contacts</h1>
        </div>
        <div class="fm rd_text">
          <article>
            <p>
              <span style="font-family:arial,helvetica,sans-serif;">
                <span style="font-size:26px;">
                  <strong>
                    <span style="color: #ffffff;">Telephone</span>
                  </strong>
                </span>
              </span>
            </p>
            <p>
              <span style="font-size:14px;">917-461-7502<br>646-912-3511</span>
            </p>
            <p><span style="font-size:26px;">
                <span style="color: #ffffff;">
                  <strong>E-mail</strong>
                </span>
              </span>
            </p>
              <p><span style="font-size:14px;">hotel_california@gmail.com</span></p>
            <p><span style="font-size:26px;">
                <span style="color: #ffffff;">
                  <strong>Adress</strong>
                </span>
              </span>
            </p>
              <p>
                <span style="color:#fffffff;">1939 Pearl Street, Sacramento, California</span>
              </p>
        </div>
      </div>
</main>

</body>
</html>


