<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>California</title>
  <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-brand2" href="#">CALIFORNIA   </div>
          
          <div >
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rooms</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="#">
                  Contacts
                </a>
              </li>
            </ul>
          </div>
        </div>
</nav>
  </div>
</header>

<main>
  <div class="background-control">     
      <div class="" id="slidecaption">HOTEL CALIFORNIA</div>
      <h1>Three Star Hotel</h1>
   </div>
</main>

</body>
</html>