<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
  <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <header th:insert="blocks/header::header">  </header>

<main>
  <div class="background-control">     
      <div class="" id="slidecaption">HOTEL CALIFORNIA</div>
      <h1>Three Star Hotel</h1>
   </div>
</main>

</body>
</html>