<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"/>
    <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container">

</div>
<main>
  <div class="container mt-5 mb-5">
    <h1 th:text="${room_type}"></h1>
    <div class="alert alert-danger" role="alert" th:if="${isRoomAvailable==false}">
            <sp th:text="|На заданий проміжок часу всі номери ${room_type} зайняті|"></sp>
    </div>
    <form action="/rooms/room_order" method="post">
      <input th:type="hidden" name="room_type" th:value="${room_type}">
      <div class="form-floating mb-3 mt-3">
        <input th:type="text" id="name" name="name" th:value="${name}" placeholder="Введіть Імя" class="form-control"
               required pattern="[а-яґєіїa-zА-ЯҐЄІЇA-Z']{2,20}"><br>
        <label for="name">Імя</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input th:type="text" id="surname" name="surname" th:value="${surname}" placeholder="Введіть Прізвище" class="form-control" 
               required pattern="[а-яґєіїa-zА-ЯҐЄІЇA-Z']{2,20}"><br>
        <label for="surname">Прізвище</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input th:type="text" id="phone_number" name="phone_number" th:value="${phone_number}" placeholder="Введіть Номер Телефону" class="form-control" 
               required pattern="[+]\d{12}"><br>
        <label for="phone_number">Номер телефону в форматі +380XXXXXXXXX</label>
      </div>
      <div class="form-floating mb-3 mt-3">
                <input th:type="number" id="number_of_people" name="number_of_people" th:value="${number_of_people}"
                       placeholder="Кількість людей від 1 до 3"
                       class="form-control" required min="1" max="3"><br>
                <label for="number_of_people">Кількість людей від 1 до 3</label>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${isDatepickerWrong}">
                Заданий Проміжок Дат Невірний
            </div>
            <div class="col-sm-4">
                <div class="input-group date" id="datepicker1">
                    <input autocomplete="off" type="text" name="datepicker1" th:value="${datepicker1}"
                           placeholder="Дата Заселення:" class="form-control" required>
                    <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
            <script th:inline="javascript">
                $(function () {
                    var dateToday = new Date();
                    var datesDis = [[${datesDisabled}]];
                    $('#datepicker1').datepicker({
                        format: 'yyyy-mm-dd',
                        startDate: dateToday,
                        datesDisabled: datesDis,
                        weekStart: 1,
                        todayHighlight: true,
                        maxViewMode: 2,
                        todayBtn: "linked",
                        autoclose: true,
                    }).on('show', function(e) {
                        endDate: dateToday;
                    });
                });
            </script>
            <div class="col-sm-4">
                <div class="input-group date" id="datepicker2">
                    <input autocomplete="off" type="text" name="datepicker2" th:value="${datepicker2}"
                           placeholder="Дата Виселення:" class="form-control" required>
                    <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </span>
                </div>
            </div>
            <script th:inline="javascript">
                $(function () {
                    var dateToday = new Date();
                    var datesDis = [[${datesDisabled}]];
                    $('#datepicker2').datepicker({
                        format: 'yyyy-mm-dd',
                        startDate: dateToday,
                        datesDisabled: datesDis,
                        weekStart: 1,
                        todayHighlight: true,
                        maxViewMode: 2,
                        todayBtn: "linked",
                        autoclose: true,
                    }).on('show', function(e) {
                        startDate: $('.datepicker1').val() ? $('.datepicker1').val() : false;

                    });
                });
            </script>
      <div class="form-floating mb-3 mt-3">
        <select class="form-select" id="service" name="service">
          <option>Без Прибирання</option>
          <option>Легке Прибирання</option>
          <option>Генеральне Прибирання</option>
        </select>
        <label for="service" class="form-label">Виберіть Тип Прибирання</label>
      </div>
      <button type="submit" class="btn btn-dark">Оформити Номер</button>
    </form>
  </div>

</main>

</body>
</html>